.mainScreen{
    width: 500px;
    margin-top: 10px;
    border-radius: 10px;
    background-color:#C7E3D5 ;

    // div{
    //     display: flex;
    //     justify-content: center;
    // }

    &__header{
        color:#5238AE ;
    }

    &__philter{
        margin: 40px;
        column-gap: 5px;
    }
}