// .mainScreen{
//     width: 500px;
//     margin-top: 10px;
//     border-radius: 10px;
//     background-color:#C7E3D5 ;

//     // div{
//     //     display: flex;
//     //     justify-content: center;
//     // }

//     &__header{
//         color:#5238AE ;
//     }

//     &__philter{
//         margin: 40px;
//         column-gap: 5px;
//     }
// }

.mainScreen{
    width: 500px;
    border-radius: 10px;
    margin-top: 10px;
    background-color: #C7E3D5;

    &__header{
        display: flex;
        justify-content: center;
        font-size: 20px;
        color: #5238AE;
    }

    &__btn__block{
        display: flex;
        justify-content: center;
        padding: 10px;
        gap: 10px;
    }
}